{% extends 'base.html' %}

{% block title %}Home - Quiz App{% endblock %}

{% block content %}
    <h1>Welcome to the Quiz App</h1>
    <!-- Page content here -->
    <script>
        const backToTopButton = document.createElement("div");
        backToTopButton.classList.add("back-to-top");
        backToTopButton.innerHTML = "↑";
        document.body.appendChild(backToTopButton);

        backToTopButton.addEventListener("click", function() {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });

        window.addEventListener("scroll", function() {
            if (window.scrollY > 300) {
                backToTopButton.style.display = "block";
            } else {
                backToTopButton.style.display = "none";
            }
        });
    </script>
   

    <div class="quiz1">
        <button class="btn">
            <img src="images/james.jpg" class="quiz-image">
            <a href="{% url 'quiz' %}" class="text_color">Start Quiz</a>
        </button>
    </div>

  

{% endblock %}
