{% extends 'base.html' %}

{% block title %}
Home - Interactive Quiz
{% endblock %}

{% block content %}

<h2>Welcome to the Interactive Quiz Cipher Application</h2>
<p>Start a quiz and test your knowledge.</p>
<button><a href="{% url 'home' %}">Take a Quiz</a></button>
<h3>Quizz</h3>
<ul>
    {% for quiz in quizz %}
        <li>{{ quiz.title }}: {{ quiz.description }}</li>
    {% endfor %}
</ul>

<h3>Questions</h3>
<ul>
    {% for question in questions %}
        <li>{{ question.text }} (Quiz: {{ question.quiz.title }})</li>
    {% endfor %}
</ul>

<h3>Options</h3>
<ul>
    {% for option in options %}
        <li>{{ option.text }} (Question: {{ option.question.text }}) - {% if option.is_correct %}Correct{% else %}Incorrect{% endif %}</li>
    {% endfor %}
</ul>

<h3>Results</h3>
<ul>
    {% for result in results %}
        <li>{{ result.user.username }} scored {{ result.score }} on {{ result.quiz.title }} at {{ result.date_taken }}</li>
    {% endfor %}
</ul>
{% endblock %}
